{% extends 'register.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="register-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="{{ path('default') }}" class="h1">
					<b>ATLAS</b>
				</a>
			</div>
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			<div class="card-body">
				<p class="login-box-msg">Register a new membership</p>
				{{ form_start(registrationForm) }}
				<div class="input-group mb-3">
					{{ form_widget(registrationForm.firstName) }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					{{ form_widget(registrationForm.lastName) }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					{{ form_widget(registrationForm.badgenumbe) }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					{{ form_widget(registrationForm.debutTravaille) }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				{# <div class="input-group mb-3">
									<div class="input-group date" id="reservationdate" data-target-input="nearest">
				
										<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
										<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											<div class="input-group-text">
												<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div> #}
				<div class="input-group mb-3">
					{{ form_widget(registrationForm.email) }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					{{ form_widget(registrationForm.plainPassword, {label: 'Password'}) }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Retype password">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<div class="icheck-primary">
							{{ form_widget(registrationForm.agreeTerms) }}
							<label for="agreeTerms">
								I agree to the
								<a href="#">terms</a>
							</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-4">
						<button type="submit" class="btn btn-primary btn-block">Register</button>
					</div>
					<!-- /.col -->
				</div>
				{{ form_end(registrationForm) }}
				{# <div class="social-auth-links text-center">
																																																		<a href="#" class="btn btn-block btn-primary">
																																																			<i class="fab fa-facebook mr-2"></i>
																																																			Sign up using Facebook
																																																		</a>
																																																		<a href="#" class="btn btn-block btn-danger">
																																																			<i class="fab fa-google-plus mr-2"></i>
																																																			Sign up using Google+
																																																		</a>
																																																	</div> #}

				<a href="{{ path('app_login') }}" class="text-center">I already have a membership</a>
			</div>
			<!-- /.form-box -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.register-box -->
{% endblock %}
