{% extends 'base.html.twig' %}

{% block title %}Pointage
{% endblock %}

{% block body %}
	<h1>Pointage</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ pointage.id }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ pointage.date ? pointage.date|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Entrer</th>
				<td>{{ pointage.entrer ? pointage.entrer|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Sortie</th>
				<td>{{ pointage.sortie ? pointage.sortie|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>NbrHeurTravailler</th>
				<td>{{ pointage.nbrHeurTravailler ? pointage.nbrHeurTravailler|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>RetardEnMinute</th>
				<td>{{ pointage.retardEnMinute ? pointage.retardEnMinute|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>DepartAnticiper</th>
				<td>{{ pointage.departAnticiper ? pointage.departAnticiper|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>RetardMidi</th>
				<td>{{ pointage.retardMidi ? pointage.retardMidi|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>TotalRetard</th>
				<td>{{ pointage.totalRetard ? pointage.totalRetard|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>AutorisationSortie</th>
				<td>{{ pointage.autorisationSortie ? pointage.autorisationSortie|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>CongerPayer</th>
				<td>{{ pointage.congerPayer }}</td>
			</tr>
			<tr>
				<th>Abscence</th>
				<td>{{ pointage.abscence }}</td>
			</tr>
			<tr>
				<th>HeurNormalementTravailler</th>
				<td>{{ pointage.heurNormalementTravailler ? pointage.heurNormalementTravailler|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Diff</th>
				<td>{{ pointage.diff ? pointage.diff|date('H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('pointage_index') }}">back to list</a>

	<a href="{{ path('pointage_edit', {'id': pointage.id}) }}">edit</a>

	{{ include('pointage/_delete_form.html.twig') }}
{% endblock %}
