{% extends '@EasyAdmin/page/content.html.twig' %}

{% macro secondsToMinutes(seconds) %}
	{# set hours minus minutes/seconds #}
	{% set hours = (seconds / 60)  // 60 %}

	{% if hours  < 1 %}
		{# set hours to nothing #}
		{% set hours = null %}
	{% else %}
		{# output hours with a colon: #}
		{% set hours = hours ~ ':' %}
	{% endif %}

	{# set minutes remain but no seconds and with a colon #}
	{% set minutes = (seconds / 60)  % 60   ~ ':' %}

	{# set seconds but no minutes or hours #}
	{% set seconds = seconds % 60 %}
	{% if seconds < 10 %}
		{# add a leading zero if seconds are less than 10 #}
		{% set seconds = '0' ~ seconds %}
	{% endif %}

	{{ hours }}{{ minutes}}{{ seconds }}

{% endmacro %}
{% block content_title %}Bilan de l'employer
	{{userBilan.lastName}}
	{{userBilan.firstName}}
{% endblock %}
{% block page_actions %}
	<form action="{{ path('admin_dashboard') }}" method="post">
		<select name="user">
			{% for user in users %}
				<option value="{{user.id}}">{{user.firstName}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="voir bilan">
	</form>
	{# <a class="btn btn-primary" href="{{ path('admin_bilan', {'user': 22}) }}">voir bilan</a> #}
{% endblock %}

{% block main %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Horaire</th>
				<th>Entrer</th>
				<th>Sortie</th>
				<th>Nbr Heures Travaillées</th>
				<th>Retard en MIN</th>
				<th>Départ anticipé</th>
				<th>Retard midi</th>
				<th>Total Retard</th>
				<th>AS</th>
				<th>CP</th>
				<th>ABS</th>
				<th>HT Normalement travaillées</th>
				<th>Diff</th>
			</tr>
		</thead>
		<tbody>
			{% for pointage in bilan %}
				{% if pointage.background is defined  %}
					<tr style="background-color:{{ pointage.background }}">
					{% else %}
						<tr>
						{% endif %}
						<td colspan="{{pointage.colspan }}">{{ pointage.date }}</td>
						{% if pointage.colspan == 1 %}
							<td>{{ pointage.horaire }}</td>
							<td>{{ pointage.entrer }}</td>
							<td>{{ pointage.sortie }}</td>
						{% endif %}
						{% if pointage.colspan == 1 %}
							<td>{{ pointage.nbrHeurTravailler }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.nbrHeurTravailler)  }}</td>
						{% endif %}
						{% if pointage.colspan == 1 %}
							<td>{{ pointage.retardEnMinute }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.retardEnMinute)  }}</td>
						{% endif %}
						{% if pointage.colspan == 1 %}
							<td>{{ pointage.departAnticiper }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.departAnticiper) }}</td>
						{% endif %}
						{% if pointage.colspan == 1 %}
							<td>{{ pointage.retardMidi }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes( pointage.retardMidi)  }}</td>
						{% endif %}
						{% if pointage.colspan == 1 %}
							<td>{{ pointage.totalRetard }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.totalRetard)  }}</td>
						{% endif %}

						{% if pointage.colspan == 1 %}
							<td>{{ pointage.autorisationSortie }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.autorisationSortie)  }}</td>
						{% endif %}
						<td>{{ pointage.congerPayer }}</td>
						<td>{{ pointage.abscence }}</td>

						{% if pointage.colspan == 1 %}
							<td>{{ pointage.heurNormalementTravailler }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.heurNormalementTravailler) }}</td>
						{% endif %}

						{% if pointage.colspan == 1 %}
							<td>{{ pointage.diff }}</td>
						{% else %}
							<td>{{ _self.secondsToMinutes(pointage.diff)}}</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="15">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
		<tfoot>
			<tr>
				<th>Date</th>
				<th>Horaire</th>
				<th>Entrer</th>
				<th>Sortie</th>
				<th>Nbr Heures Travaillées</th>
				<th>Retard en MIN</th>
				<th>Départ anticipé</th>
				<th>Retard midi</th>
				<th>Total Retard</th>
				<th>AS</th>
				<th>CP</th>
				<th>ABS</th>
				<th>HT Normalement travaillées</th>
				<th>Diff</th>
			</tr>
		</tfoot>
	</table>
{% endblock %}
