{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
	<h1>Upload from DBF</h1>

	{{ include('dbf/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}
